/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/screen.scss */
body {
  font-family: "Helvetica";
}

/* line 22, ../sass/screen.scss */
.page {
  *zoom: 1;
  width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 27, ../sass/screen.scss */
.page header, .page section, .page footer {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 30px;
}
/* line 32, ../sass/screen.scss */
.page header {
  margin-top: 20px;
}
/* line 36, ../sass/screen.scss */
.page header p, .page header span {
  color: #777;
  font-size: 0.8em;
}
/* line 43, ../sass/screen.scss */
.page article header p, .page article header span {
  font-size: 1em;
}
/* line 47, ../sass/screen.scss */
.page h1 {
  font-size: 30px;
  font-weight: bold;
}
/* line 52, ../sass/screen.scss */
.page section h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: dotted 1px #000;
}
/* line 60, ../sass/screen.scss */
.page section p {
  margin-bottom: 5px;
}
/* line 64, ../sass/screen.scss */
.page section article ul {
  margin-left: 20px;
  list-style: disc;
}
/* line 69, ../sass/screen.scss */
.page section#skills article {
  width: 10.8em;
  float: left;
  margin-right: 1em;
  display: inline;
}
/* line 184, ../../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.9/sass/susy/_grid.scss */
.page section#skills article:nth-child(5n) {
  float: right;
  margin-right: 0;
}
/* line 74, ../sass/screen.scss */
.page section#experience article, .page section#education article {
  width: 29em;
  float: left;
  margin-right: 1em;
  display: inline;
  min-height: 100px;
  margin-bottom: 20px;
}
/* line 184, ../../../../../../Library/Ruby/Gems/1.8/gems/susy-1.0.9/sass/susy/_grid.scss */
.page section#experience article:nth-child(2n), .page section#education article:nth-child(2n) {
  float: right;
  margin-right: 0;
}
/* line 81, ../sass/screen.scss */
.page section#experience article {
  width: 59em;
  float: left;
  margin-right: 1em;
  display: inline;
}
/* line 85, ../sass/screen.scss */
.page section#experience article:last-child {
  height: auto;
}
/* line 94, ../sass/screen.scss */
.page section article h1 {
  font-size: 18px;
  margin-bottom: 5px;
}
/* line 99, ../sass/screen.scss */
.page section article header {
  margin-bottom: 10px;
  margin-top: 0px;
}
/* line 104, ../sass/screen.scss */
.page section article footer {
  margin: 0px;
  font-size: 0.8em;
  margin-top: 10px;
  color: #777;
}
/* line 112, ../sass/screen.scss */
.page section article article h1 {
  color: #00f;
}
/* line 116, ../sass/screen.scss */
.page .reference span {
  display: block;
}
